* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}
#container {
  background-color: #63d471;
  background-image: linear-gradient(315deg, #97a398 10%, #5d6924 60%);
  width: 60%;
  height: 60%;
  border-radius: 30px;
  opacity: 0.9;
}
button {
  border-radius: 59px;
}